<div *ngIf="isSuccess && isResult" class="alert alert-success">
    <strong>Success!</strong> Applied settings.
</div>
<div *ngIf="!isSuccess && isResult" class="alert alert-danger">
    <strong>Failed!</strong> Something went wrong.
</div>
<div *ngIf="isSoftwareUpdateSuccess && isSoftwareUpdateResult" class="alert alert-success">
    <strong>Success!</strong> Software update completed. Please reboot for changes to take effect.
</div>

<div class="row">
    <div class="col col-sm-4">
        <div class="card mb-3">
            <div class="card-header">
                System Reboot                    
            </div>
            <div class="card-block">
                <button type="button" (click)="open(rebootWidgetContent)" class="btn btn-warning btn-block">Reboot</button> 
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-sm-4">
        <div class="card mb-3">
            <div class="card-header">
                Date - Time                   
            </div>
            <div class="card-block">
                <button type="button" class="btn btn-outline-primary btn-block"  (click)="openDateFilterModal('To'); open(content)">{{formatDate(dateFilter.to)}}</button>             
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-sm-4">
        <div class="card mb-3">
            <div class="card-header">
                WIFI AP Settings                    
            </div>
            <div class="card-block">
                <form role="form">
                    <fieldset class="form-group">
                        <label>SSID</label>
                        <input name="ssid" [(ngModel)]="wifi.newssid" class="form-control" placeholder="first-ocean-AP">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Password</label>
                        <input name="password" [(ngModel)]="wifi.newpass" class="form-control" placeholder="password1">
                    </fieldset>                            
                </form>
                <button type="button" (click)="saveWifiCreds()" class="btn btn-primary btn-block">Save</button>                     
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-sm-4">
        <div class="card mb-3">
            <div class="card-header">
                Software v1.3                  
            </div>
            <div class="card-block">
                <select class="form-control">
                    <option>Via USB Flashdrive</option>                    
                    <option>Via Internet Update</option>
                </select>                
                <br>
                <button type="button" (click)="softwareUpdate()" class="btn btn-info btn-block">{{softwareUpdateStatus}}</button> 
            </div>
        </div>
    </div>
</div>

<ng-template #rebootWidgetContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Reboot Module</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Do you want to continue?</p>                               
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="systemExecute(); c('Close click')">Reboot</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">System Time Settings</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5>Date</h5>
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                name="dp" [(ngModel)]="dateModel" ngbDatepicker #d1="ngbDatepicker">
            <div class="input-group-addon" (click)="d1.toggle()" >
                <span class="fa fa-calendar"></span>
            </div>
        </div>
        <br>
        <h5>Time</h5>
        <ngb-timepicker [(ngModel)]="timeModel" [meridian]="meridian"></ngb-timepicker>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="applyDateFilter(); c('Close click')">Apply</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>