<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'dashboard' | translate }}
        </a>
        <a [routerLink]="['/kiosk']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Kiosk' | translate }}
        </a>        
        <a [routerLink]="['/reports']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Reports' | translate }}
        </a>
        <a [routerLink]="['/settings']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cog"></i>&nbsp;{{ 'Settings' | translate }}
        </a>
    </ul>
</nav>
