<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <div class="row">
            <div class="col col-sm-6">
                <a class="navbar-brand" href="javascript:void(0)">FIRST OCEAN - SOLUTIONS</a>
            </div>
            <div class="col col-sm-6" style="text-align:right;" *ngIf="!isKiosk">
                <a (click)="selectPage('dashboard2')" [routerLink]="['/dashboard2']" [ngClass]="select.dashboard2" class="navbar-brand link-container" href="javascript:void(0)">Dashboard</a>
                <a (click)="selectPage('reports')" [routerLink]="['/reports']"  [ngClass]="select.reports" class="navbar-brand link-container" href="javascript:void(0)">Reports</a>
                <a (click)="selectPage('settings')" [routerLink]="['/settings']"  [ngClass]="select.settings" class="navbar-brand" href="javascript:void(0)">Settings</a>
            </div>
        </div>
    </nav>
</div>